.root {
    -fx-background-color: #424242;
    -fx-padding: 20px;
}

.text {
    -fx-font-size: 18px;
    -fx-fill: white;
}


.forecast-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.forecast-item {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
}